-r requirements-pip-options.txt
-f https://mirrors.nju.edu.cn/pytorch/whl --trusted-host mirrors.nju.edu.cn
torch==2.9.0
torchvision==0.24.0
pyobjc-core==12.2.1
pyobjc-framework-Quartz==12.2.1
pyobjc-framework-Metal==12.2.1
# torchaudio==2.7.0
coremltools==9.0
pyobjc-framework-CoreMedia==12.2.1
pyobjc-framework-ScreenCaptureKit==12.2.1

# clipboard for the GUI bug-report/stream-URL copy buttons
pyperclip==1.11.0
